<h1>Create new author</h1>

<%= form_for :article do |form_instance| %>
  <p>
    <%= form_instance.label :First_name %>
    <%= form_instance.text_field :First_name %>
  </p>

  <p>
    <%= form_instance.label :Last_name %>
    <%= form_instance.text_field :Last_name %>
  </p>

  <p>
    <%= form_instance.label :Homepage %>
    <%= form_instance.text_field :Homepage %>
  </p>
<% end %>
	
