<%= form_for @paper do |form_instance| %>

  <% if @paper.errors.any? %>
    <div id="error_section">
      <h2><%= pluralize(@paper.errors.count, "error") %> prevented this paper from being saved</h2>
      <ul>
        <% @paper.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form_instance.label :title %>
    <%= form_instance.text_field :title %>
  </p>

  <p>
    <%= form_instance.label :venue %>
    <%= form_instance.text_field :venue %>
  </p>

  <p>
    <%= form_instance.label :year %>
    <%= form_instance.text_field :year %>
  </p>

  <% (1..5).each do |i| %>
    <p>
      <%= form_instance.label "Author #{i}", for: "paper_author_id_#{i}" %>
      <%= form_instance.collection_select :author_ids, Author.all, :id, :name, {selected: @paper.author_ids[i-1], include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_#{i}"} %>
    </p>
  <% end %>

  <p>
    <%= form_instance.submit %>
  </p>
<% end %>
